.body{
    background-color: #d9d9d9;
}

.contact {
    background-image: url(../images/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 250px 0px;
    position: relative;
  }
  
  .contact .section-heading h2 {
    color: #fff;
  }
  
  .contact-content {
    margin-top: -240px;
    position: relative;
    z-index: 1;
  }
  
  .contact-content #map {
    border-radius: 10px;
    margin-bottom: 60px;
  }
  
  .contact-content .item {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
  }
  
  .contact-content .phone {
    margin-right: 15px;
  }
  
  .contact-content .email {
    margin-left: 15px;
  }
  
  .contact-content .item img {
    float: left;
    margin-right: 25px;
    vertical-align: middle;
  }
  
  .contact-content .item h6 {
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
  }
  
  .contact-content .item h6 span {
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
  }
  
  .contact-content #contact-form {
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
  }
  
  .contact-content #contact-form label {
    font-size: 15px;
    color: #3a3a3a;
    margin-bottom: 15px;
  }
  
  .contact-content #contact-form input {
    width: 100%;
    height: 44px;
    border-radius: 22px;
    background-color: #f6f6f6;
    border: none;
    margin-bottom: 30px;
    font-size: 14px;
    padding: 0px 15px;
  }
  
  .contact-content #contact-form textarea {
    width: 100%;
    height: 150px;
    max-height: 180px;
    border-radius: 22px;
    background-color: #f6f6f6;
    border: none;
    margin-bottom: 40px;
    font-size: 14px;
    padding: 15px 15px;
  }
  
  .contact-content #contact-form button {
    background-color: #1e1e1e;
    height: 44px;
    border-radius: 22px;
    padding: 0px 20px;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 500;
    transition: all .5s;
  }
  
  .contact-content #contact-form button:hover {
    background-color: #f35525;
  }
  